@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    color: #FF6500;

    --color1: #03045E;
    --color2: #FF6500;
    --color3: #1E3E62;
    --color4: #000000;
    --color5: #0B192C;

    /*Star's halloween palette*/
    --Ectay: #C4623A;
    --GoldenTips: #E5A02D;
    --Cherokee: #F0C979;
    --Windsor: #57217B;
    --Blackcurrant: #1c092add;

    --white: white;
    --black: black;
    --grey: rgb(84, 84, 84);
    --transparentWhite: rgba(255, 255, 255, 0.459);
    --transparentBlack: rgba(0, 0, 0, 0.864);


    --font-color1: var(--white);
    --font-color2: var(--black);

    /*testing colors*/
    --testcolor: rgba(29, 40, 27, 0.945);



    /*old palette*/
    --blue1: #03045E;
    --blue2: #0077B6;
    --blue3: #00B4D8;
    --blue4: #90E0EF;
    --blue5: #CAF0F8;

    --textPadding: 3%;
    --fontsizeMain: .9rem;
    --gapSize: 5%;
}

/* animations */
@keyframes navbar_animation {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

/*Main html tags*/

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: var(--testcolor);
}

main p{
    color: var(--font-color1);
}

main h2{
    color: var(--font-color1);
}

h1{
    font-weight: 500;
    font-size: 3rem;
}

h2{
    font-weight: 450;
    font-size: 2rem;
}

hr{
    size: 1;
    margin: 0;
}

p{
    font-weight: 350;
}

img{
    object-fit: cover;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 1vw;
    background-color: var(--color2);
    border-bottom: solid 5px black;
    animation: ease-in 1.3s navbar_animation;
}

nav img{
    width: 5vw;
}

nav a{
    padding: 2vh 1vw;
    text-decoration: none;
    border-style: solid;
    border-color: var(--Ectay);
    border-radius: 5px;
    color: var(--white);
    background-color: var(--black);
}

nav a:hover{
    background-color: var(--black);
    color: var(--grey);
    border: var(--Cherokee) solid 2px;
}

nav div{
    align-self: center;
}

a{
    color: var(--black);
    text-decoration: none;
    padding: 1.5%;
    background-color: var(--GoldenTips);
    transition: background-color 2s;
    transition: color .5s;
    border-radius: 5%;
}

a:hover{
    background-color: var(--black);
    color: var(--white);
    border: var(--Cherokee) solid 2px;
}

footer{
    background-color: var(--black);
    margin: 0;
    min-height: 10vh;
}

footer a{
    background-color: transparent;
    color: var(--white);
}

footer a:hover{
    background-color: transparent;
    color: var(--white);
    text-decoration: underline;
}

footer p{
    color: var(--white);
}

/*Id's - sections*/
#logo{
    background-color: #FF6500;
    border-style: none;
    transition: background-color 2s;
}

#logo:hover{
    background-color: var(--black);
}

#product{
    border-top: var(--color2) double 8px;
    background-color: var(--transparentBlack);
    display: flex;
    gap: var(--gapSize);
    padding: 10%;
    justify-content: center;
    max-height: 50vh;
    min-height: 45vh;
    color: var(--white);
}

#product img{
    max-width: 35vw;
    max-height: 45vh;
    width: 30vw;
    height: 55vh;
    position: relative;
}

#product p, h1{
    color: var(--font-color1);
}

#timeline{
    display: flex;
    flex-direction: column;
}

#timeline h2{
    text-align: center;
    margin: 5%;
}

#timeline p{
    font-size: var(--fontsizeMain);
}

#about{
    background-color: var(--transparentWhite);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
    min-height: 35vh;
}

#about p{
    max-width: 35vw;
    text-align: left;
    padding-bottom: 5%;
    color: var(--black);
}

#about h2{
    color: var(--black);
}

#foot{
    display: flex;
    justify-content: space-between;
    padding: 3%;
    max-height: 5vh;
}

#foot p{
    color: var(--white);
}

/*Classes*/
.info-product{
    text-align: right;
    position: relative;
}

.info-product p{
    max-width: 35vw;
}

.background-product{
    position: absolute;
    margin-left: 60vw;
    margin-top: 20vh;

}

.background-product img{
    object-fit: cover;
}

.timeline-content{
    display: flex;
    justify-content: center;
    gap: var(--gapSize);
}

.timeline-content p{
    max-width: 15vw;
    height: 45vh;
}

.left-side, .right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-side{
    justify-content: center;
}

.info-block{
    display: flex;
    max-width: 40vw;
    gap: var(--gapSize);
}

.info-block img{
    max-width: 25vw;
    max-height: 20vh;
}

.about-text-content{
    display: flex;
    justify-content: center;
    gap: var(--gapSize);
}

/*Responsiveness*/
@media (width <= 480px){

}
