@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    color: #FF6500;     /* change color of text */

    --color1: #03045E;
    --color2: #FF6500;
    --color3: #1E3E62;
    --color4: #000000;
    --color5: #0B192C;

    /* --color1: #C4623A;
    --color2: #E5A02D;
    --color3: #F0C979;
    --color4: #57217B;
    --color5: #1c092add; */


    --white: white;
    --transparentWhite: rgba(255, 255, 255, 0.459);
    --black: black;

    --textPadding: 3%;
    --fontsizeMain: .9rem;

    line-height: 28px;
}

/* animations */
@keyframes navbar_animation {
    from{
        transform: translate(-1200px);
    }

    to{
        transform: translate(0px);
    }
}

/*Main html tags*/

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    scroll-behavior: smooth;
    background-color: var(--color5);    
}

h1 {
    font-size: 6rem;
    text-align: center;
    margin-bottom: 100vh 0;
}

h2 {
    font-size: 2rem;
    margin: 0;
}

p{
    font-weight: 350;
}

header {
    padding: 15vh 0;
    background-image: url(/Images/placeholder.jpg); /* blur this image */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.4vw;
}



/*Id's - sections*/

#styling_header{
    background-color: var(--color4);
}

#styling_section_how{
    background-color: var(--color5);
}

#styling_section_warnings{
    background-color: #232323;
    padding-bottom: 5vh;
}

#foot p{
    color: white;
}

#no_border{
    background-color: #CE5708;
    border-style: none;
}

/*Classes*/

.center_container {
    max-width: 80vw;
    margin: 0 auto;
}


.center_container_and_push_down {
    max-width: 80vw;
    margin: 0 auto;
    padding: 5vh 0;
}


.navbar_instructions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 1vw;
    background-color:#CE5708;
    border-bottom: solid 5px black;
    animation: ease-in 1.3s navbar_animation;
}

.sticky {
    position: sticky;
    top: 0;
}

.navbar_instructions a {
    padding: 2vh 1vw;
    text-decoration: none;
    border-style: solid;
    border-color: var(--color1);
    border-radius: 5px;
    color: white;
    background-color: var(--color1);
}

.navbar_instructions img{
    width: 5vw;
}

.navbar_instructions a:hover {
    color: grey;
}

.instruction_images {
    display: flex;
    gap: 1vw;
    margin-bottom: 20vh;
    margin: 0 auto;
}

.instruction_images img {
    flex: 1;
    max-width: 33%;     /* change with amount of images */
}


/* Footer copy paste */

footer{
    background-color: black;
    margin: 0;
    min-height: 10vh;
}

footer a{
    background-color: transparent;
    text-decoration: none;              /* extra code */
    color: white;
}

footer a:hover{
    background-color: transparent;
    color: grey;
    text-decoration: underline;
}

#foot{
    display: flex;
    justify-content: space-between;
    align-items: center;                /* extra code */
    padding: 3%;
    max-height: 5vh;
}

/*Responsiveness*/
@media (width <=800px) {
    *{
        font-size: 0.9rem;
    }
}

@media (width <=600px) {
    *{
        font-size: 0.8rem;
    }
}

@media (width <= 480px) {
    h1{
        font-size: 4rem;
    }

    .instruction_images{
        flex-direction: column;
        align-items: center;
    }
    .instruction_images img {
        flex: 1;
        max-width: 100%;
        padding: 1vh 0;
    }
}