@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    color: #FF6500;

    --color1: #03045E;
    --color2: #FF6500;
    --color3: #1E3E62;
    --color4: #000000;
    --color5: #0B192C;
    --white: white;
    --transparentWhite: rgba(255, 255, 255, 0.459);
    --black: black;

    --textPadding: 3%;
    --fontsizeMain: .9rem;
    --gapSize: 5%;
}

/* animations */
@keyframes navbar_animation {
    from{
        transform: translate(-1200px);
    }

    to{
        transform: translate(0px);
    }
}

/*Main html tags*/

body{
    margin: 0;
    background-color: var(--color5);
}

h1{
    font-weight: 500;
    font-size: 3rem;
}

h2{
    font-weight: 450;
    font-size: 2rem;
}

hr{
    size: 1;
    margin: 0;
}

p{
    font-weight: 350;
}

img{
    object-fit: cover;
}

nav{
    background-color: var(--color2);
    height: 10vh;
    text-align: right;
    justify-content: space-between;
    animation: ease-in 1.3s navbar_animation;
    padding-top: 1vh;
}

nav div{
    align-self: center;
}

a{
    color: var(--white);
    text-decoration: none;
    padding: 1.5%;
    background-color: var(--color1);
    transition: background-color 1s;
    transition: color .5s;
    border-radius: 5%;
}

a:hover{
    background-color: var(--color4);
    color: var(--black);
    border: var(--black) solid 2px;
}

footer{
    background-color: var(--color2);
    margin: 0;
    min-height: 10vh;
}

footer a{
    background-color: transparent;
    color: black;
}

footer a:hover{
    background-color: transparent;
    color: black;
}

/*Id's - sections*/
#product{
    border-top: var(--color1) double 8px;
    background-color: var(--color1);
    display: flex;
    gap: var(--gapSize);
    padding: 10%;
    justify-content: center;
    max-height: 50vh;
    min-height: 45vh;
}

#product img{
    max-width: 35vw;
    max-height: 45vh;
    width: 30vw;
    height: 55vh;
}

#timeline{
    display: flex;
    flex-direction: column;
}

#timeline h2{
    text-align: center;
    margin: 5%;
}

#timeline p{
    font-size: var(--fontsizeMain);
}

#about{
    background-color: var(--transparentWhite);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
    min-height: 35vh;
}

#about p{
    max-width: 35vw;
    text-align: left;
    padding-bottom: 5%;
    color: white;
}

#foot{
    display: flex;
    justify-content: space-between;
    padding: 3%;
    max-height: 5vh;
}

#foot p{
    color: black;
}

/*Classes*/
.info-product{
    text-align: right;
}

.info-product p{
    max-width: 35vw;
}

.timeline-content{
    display: flex;
    justify-content: center;
    gap: var(--gapSize);
}

.timeline-content p{
    max-width: 15vw;
    height: 45vh;
}

.left-side, .right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-side{
    justify-content: center;
}

.info-block{
    display: flex;
    max-width: 40vw;
    gap: var(--gapSize);
}

.info-block img{
    max-width: 25vw;
    max-height: 20vh;
}

.about-text-content{
    display: flex;
    justify-content: center;
    gap: var(--gapSize);
}


/* copy paste from instructions css, for navbar */

.sticky {
    position: sticky;
    top: 0;
}

.navbar_instructions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 1vw;
    background-color: var(--color2);
    border-bottom: solid 5px black;
    animation: ease-in 1.3s navbar_animation;
}

.navbar_instructions img{
    width: 5vw;
}

#no_border{
    background-color: #FF6500;
    border-style: none;
}

.navbar_instructions a {
    padding: 2vh 1vw;
    text-decoration: none;
    border-style: solid;
    border-color: var(--color1);
    border-radius: 5px;
    color: white;
    background-color: var(--color1);
}

.navbar_instructions img{
    width: 5vw;
}

.navbar_instructions a:hover {
    color: grey;
}

/*Responsiveness*/
@media (width <= 480px){

}
